* {
    box-sizing: border-box;
  }
  html {
    height: 100%;

  }

  body {
    background-color: #ece3d3;
    background-size: cover;
    margin: 0;
    height: 100%;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
    color:solid #4F3228;
  }
  


/* Popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

/* Botón música */
.music-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: rgba(255, 255, 255, 0.801);
  border: transparent;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
  z-index: 9999; 
}

.label {
  margin-top: 6px;
  font-size: 14px;
  color: #3e2a2a;
  font-weight: 500px;
}


/* Portada */

  .card ,.fiesta-container {
  min-height: 100vh;
}
  .card {
    background-image: url(imagenes/fondogradiente.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  

  .decoration-destello{
    position: relative;
    max-width: 60px;
    margin: 20px;
  }

  .main-title{  
    min-width: 300px;
    
  }
  
  .name {
    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    color: #4F3229;
    margin-bottom: 0;
  }
  
  .subtitle {
    font-size: 27px;
    font-weight: 400;
    margin-top: -34px;
    margin-bottom: 5px;
    text-align: right;
    color:#4F3228;
    font-family: "Handlee", cursive ;

  }
  
  .horizontal-info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
  }
  
  
  .boxed-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }
  
  .boxed-text .line {
    width: 120px;
    height: 2px;
    background-color: #685248;
    margin: 5px 0;
  }
  
  .boxed-text .info {
    font-weight: 600;
    font-size: 20px;
    font-family: "Handlee", cursive ;
    color: #4F3228;
  }
  
  .butterfly {
    width: 70px;
    margin-bottom: 5px;
  }

  .main-text{
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 500px;
    padding: 0px 20px 20px 20px;
    font-family: "Sacramento", cursive;
    font-size: 40px;
    font-weight: 400;
    color:#47352d;
  }


  
/* SECTOR FIESTA */ 

/* Contador */



  .contador{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }

  .con{
    margin: 20px;
  }

  .contador h2{
    color: #B58925;
    font-size: 60px;
    min-width: 150px;
    font-family: 'Great Vibes', cursive;
    margin: 8px;
  }

  .separator-countdown {
    margin: 20px;
    display: block;
  }
  
  .countdown {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .clock {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #d1a558; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    color: #3e2a2a;
    font-family: "Handlee", cursive;
  }
  

  .separador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .linea {
    background-color: #B58925;
    margin: 5px 0px;
    width: 2px;
    height: 120px;
  }
  
  .punto {
    width: 15px;
    height: 15px;
    background-color: transparent;
    border-radius: 50%;
    border: solid #B58925;
    margin: 0 1rem;
  }

  .icono{
    display: flex; 
    align-items: center; 
    align-content: center;
    justify-content: center;
    gap: 8px;
  }

/* Info fiesta*/  

.fiesta {
  display: flex;  
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  flex-direction: column;

}

.contenedotitulof {
  display: flex;
  align-items: center;
  justify-content: center;
}


.info-fiesta {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  margin: 0px;
  max-width: 900px;
}

.info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    min-height: 200px;
    min-width: 300px;
}


.info-container-titulo {
    padding: 5px;
    margin: 10px;
    color: #B58925;
    font-size: 40px;
    font-family: 'Great Vibes', cursive;
}

.info-container p {
    font-size: 20px;
    color: #2e1c1c;
    margin-bottom: 10px;
}

.info-container img{
  width: 30px;
}

button, .btn-link {
    background-color:#E4ABA7;;
    width: 160px;
    color:#2e1c1c;
    padding: 10px 10px;
    margin: 10px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}



  /* Asistencia */ 


  .asistencia-opciones {
    display: flex;
    gap: 20px;
    margin: 8px 0 16px;
    font-weight: 500;
  }

  .opciones-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 19px;
    margin-top: 8px;
  }
  
  .opciones-grid label {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 500;
    color: #333;
  }
  
 
  #otraRestriccion {
    display: none;
    margin-top: 12px;
    animation: fadeIn 0.3s ease-in-out;
    margin-top: 10px;

  }
  

  #otraRestriccion input {
    width: 100%;
    padding: 10px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }


b{
  font-weight: bold;
  font-size: 18px;
  color: #9D7620;
}

.contenedor-confirmar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 800px;
  min-width: 360px;
  background-color: rgba(255, 255, 255, 0.575);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  border: solid 2px #B58925;
  border-radius: 5px;
  padding: 20px;
  margin: 30px;
  gap: 20px;
}

.contenedor-confirmar img{
  width: 50%;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.308);
}

.confirmar{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

#confirmar-text{
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #2e1c1c;
  padding: 5px;
  font-size: 20px;
}

#confirmar-text h2{
  color: #B58925;
  font-size: 45px;
  min-width: 250px;
  font-family: 'Great Vibes', cursive;
  margin: 8px;
}



/* Sector Galeria */

.wave-separador {
  display: block;
  line-height: 0;
  margin: -1px; 
}

.contenedor-slider{
  padding: 1px;
  background-color: #E4B1AD;
  
}

.galeria {
  width: 85%;
  margin: auto;
}

.fotos {
  background: white;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fotos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  height: 600px;
}

.slick-dots li button:before {
  color: #999 !important;
}

.slick-dots li.slick-active button:before {
  color: #ffffff !important;
}



/* Sector info adicional */

.info-container2{
  display: flex;  
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 14px;
  margin: 20px;
  width: 320px;
  height: 470px;
  border-radius: 20px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.671);
}

.info-container2 img{
  width: 63px;
}


#color-rosa{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #e2a5a1;
  background:url(imagenes/color-rosa.jpg);
}

#color-plata{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #b6b6b6;
  background: url(imagenes/color-plata.jpg); /* Plata con sombra */

}

.copiarr {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

.icono-copiar {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  width: 24px;
  height: 24px;
  color: #555;
}

.icono-copiar svg {
  width: 1em;
  height: 1em;
  vertical-align: text-bottom; 
  display: inline-block;
  position: relative;
  top: 0.1em; /* Ajuste fino para alinear mejor */
  width: 22px;
  height: 22px;
}

.icono-copiar:hover {
  color: #000;
}



.fiesta2 {
  display: flex;  
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}


/* Sector Modal */

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 10px;
  font-size: 15px;
}

.modal h2{
  color: #B58925;
  font-size: 45px;
  font-family: 'Great Vibes', cursive;
  margin: 10px;
  text-align: center;
  
}

.modal2{
  background-color: white;
  border:none;
  border-radius:20px ;
  padding: 20px;
  position: fixed;
  min-width: 330px;
}

.modal2::backdrop{
  background-color: hsl(0 0% 0% / 85%);;
}

#mapa{
  margin: 30px;
  width: 100%;
  max-height: 300px;

}

.modal label {
    font-weight: 600;
    color: #444;
    margin-top: 10px;
    display: block;
  }

.modal input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 13px;
  }

.double-button {
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    margin-top: 16px;
  }



/* Responsive medias */

@media (max-width: 1500px) {
 
  .card {
    background-image: url(imagenes/fondogradiente.png);
  }
}

@media (max-width: 768px) {
  
  .card {
    background-image: url(imagenes/fondogradiente.png);
  }
  
  .main-title{
    min-width: 260px;
  }
  
  .name {
    font-size: 80px;
    margin: 0px;
  }
  
  .subtitle {
    font-size: 25px;
    margin-top: -24px;
  }

  .main-text{
    font-size: 30px;
    padding: 20px 23px;
  }

  .countdown {
    gap: 10px;
  }

  .circle {
    width: 60px;
    height: 60px;
    font-size: 22px;

  }
  


  .decoration-destello{
    width: 50px;
    margin: 2px;}

    button, .btn-link {
      font-size: 16px;
      width: 140px;
  }

  .contenedor-confirmar {
    flex-wrap: wrap;
    padding: 15px;
    font-size: 18px;
  }
  
  .contenedor-confirmar img {
    width: 100%;
  }
  .contenedor-confirmar h2{
    font-size: 22px;
  }

  .separador {
    display: flex;
    flex-direction: row;
  }

  .linea {
    width: 142px;
    height: 2px;
    margin: 2px;
  }
  
  .punto {
    width: 12px;
    height: 12px;
  }
  /* Botón música */
  .music-button {
    height: 45px;
    width: 45px;

  }

  .slider {
    width: 350px;
 
  }
  .slider-section {
    width: 320px; 
  }

}




